<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>
  <style>
    html,
    body {
      height: 100%;
    }
    
    body {
      display: flex;
      align-items: center;
      background-color: #00000042;
    }
  </style>
  <body>
    <div class="container">
      <div class="p-2 text-bg-warning text-center">

      <h1>PortHub</h1>
      </div>
      <div class="text-center">
      <h1>ยินดีต้อนรับ</h1>
      <br></br>
      <p>เข้าสู่ระบบ</p>
      <a class="btn btn-warning btn-lg align-items-center" href="{{ url_for('accounts.login') }}">Login</a>
      <br></br>
      <p>สร้างบัญชี</p>
      <a class="btn btn-warning btn-lg align-items-center" href="{{ url_for('accounts.register') }}">Register</a>
      </div>
    </div>
  </body>
</html>
